init_config:
    snaplen: 512
    idle_ttl: 300
    exp_ttl: 60
    statsd_ip: 127.0.0.1
    statsd_port: 8125
    log_to_file: true
    log_level: debug

config:
- interface: en0
  tags: [mytag]
  ips: []
  hosts: [myhost]
